# Build directories
examples/svelte/*/build/**/*
examples/svelte/*/dist/**/*
examples/svelte/*/dev-dist/**/*
examples/svelte/*/.svelte-kit/**/*
examples/svelte/*/e2e/**/*
node_modules/**/*

# Svelte and browser files
examples/svelte/**/*.svelte
examples/svelte/**/theme.js
examples/svelte/**/src/lib/theme.js
